---
export const prerender = true;

import Meta from "../components/Layouts/Meta";
import Header from "../components/Layouts/Header";
import Footer from "../components/Layouts/Footer";
import ArticleContainer from "../components/Routes/Blog/Article";
import "../styles/blog/html-content.css";
import type { SiteOg } from "../components/Layouts/Meta";
import { CONSTS } from "../../consts";

const og: SiteOg = {
	description: `${CONSTS.SITE_NAME}'s privacy policy`,
	type: "article",
	url: "privacy",
};
---

<Meta title="Privacy" og={og}>
	<Header title="Privacy" />
	<main class="secondIn">
		<ArticleContainer>
			<section class="pt-40">
				<h2 class="heading-2">{`${CONSTS.SITE_NAME}におけるプライバシー`}</h2>
				<p class="paragraph">
					{
						`${CONSTS.SITE_NAME}（以下、当ウェブサイト）では、広告の配信やアクセス解析は行われず、特定を目的とした個人情報を収集することはありません。`
					}
				</p>

				<h3 class="heading-3">IPアドレス、Cookie等の収集</h3>
				<p class="paragraph">
					当ウェブサイトでは、一般的なトラフィック分析やサイトの改善のために、IPアドレス、Cookie、ウェブブラウザの種類などの情報を匿名で収集することがあります。これらは個人を特定するためには使用されません。
				</p>

				<h3 class="heading-3">外部サイトへのリンク</h3>
				<p class="paragraph">
					当ウェブサイトには、他のウェブサイトへのリンクが含まれている場合がありますが、外部サイトにおける個人情報の保護については当ウェブサイトは関与しておりません。リンク先サイトのプライバシーポリシーをご確認いただき、個人情報の取り扱いについてご注意ください。
				</p>
			</section>
			<p class="paragraph">
				プライバシーポリシーに関するご質問やご不明な点がございましたら、
				<span>nawaryoga@gmail.com</span>
				までお問い合わせください。
			</p>
		</ArticleContainer>
	</main>
	<Footer />
</Meta>
